* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(12, 12, 37);
    color: white;
    font-family: Poppins, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;                      /* lovkush porfolio vs nav ke beech space create krne k liye */
    align-items: center;
    height: 90px;                                        /* nav ke height ko set krne k liye */
    background-color: rgb(24, 24, 71);
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li a {
    text-decoration: none;                   /* nav ke items ke under line ko remove krne k liye jaise home ke niche underline tha  */
    color: white;                              /* nav ke items ke color ko set krne k liye */
}
nav ul li a:hover {
    color: rgb(217, 79, 217);                     /* nav ke items ke hover effect ke liye , mtlb jab hm uspar jaaye to link ka colour size n change ho ske */
    font-size: 17px;                              /* jab hm uspar jaaye to link ka size n change ho ske */
}
nav ul li {
    list-style: none;                           /*list-style ko remove krne k liye jo bullets hote hain */
    margin: 0 23px;                             /* nav ke items ke beech space create krne k liye jaise home contact ke beech*/
}
main hr {                                        /* main ke under jo hr ka style set krne k liye i.e 1st horz line */
    border : 0 ;
    background : #9c97f1;
    height : 1px ;
    margin : 40px 84px; 
}
.left{ 
    font-size: 25px ;                           /* nav ke left side ke text ka size set krne k liye */
}
.firstsection {
    display: flex;
    justify-content: space-around;
    height: 23px 0;                                 /* first section ke height ko set krne k liye */
    margin : 150px 0;
    align-items: center;
}
.firstsecrion >div{
    width : 30% ;
    margin : 0 50px;
}
.leftsection{
    font-size: 1.5rem;                          /* left section ke text ka size set krne k liye */
    margin : 30px 0;                             /* left section ke text ke upar neeche space create krne k liye */
}
.rightsection img{
    width : 350px;
    margin : 50px 0;
    border-radius: 30%;
}
.purple{
    color : rgb(217, 79, 217)
}
.graytext {
    color: #9c97f1;
}
.secondsection {
     max-width: 1000px;
     margin: 0 auto;
     height: 500px;
}
.secondsection h1 {
    font-size: 1.9rem;
}
.secondsection .box {                    /* box ke liye style set krne k liye i.e. jo second horizontal line hai uske liye*/
    width: 80vw;
    height: 1.3px;
    background : white;
    margin: 56px 0;
    display: flex;                   /* box ke under jo horizontal line hai uske liye usko vertically alag dikhane ke liye */
}
.secondsection .vertical {          /* vertical ke liye style set krne k liye i.e. jo second horizontal line ke beech me vertical line hai uske liye */
    height : 93px ;
    width : 1px ;
    background-color : white ;
    margin : 0 100px ;
}