* {
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .firstsection {
        flex-direction: column;
        text-align: center;
    }
    .rightsection img {
        max-width: 80%;
        height: auto;
    }
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Adjust this value based on your navbar height */
}

body {
    background-color: rgb(12, 12, 37);
    color: white;
    font-family: Poppins, sans-serif;
}   
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-around;                      /* lovkush porfolio vs nav ke beech space create krne k liye */
    align-items: center;
    min-height: 80px;                                        /* nav ke height ko set krne k liye */
    background-color: rgb(24, 24, 71);
}
.left{
    font-size: 30px;
    padding-left: 40px;
}
.nav-links{
    display: flex;
    gap: 25px;  
    list-style: none;  
    padding: auto;
    margin :40px;                                            /* nav ke items ke beech gap ko set krne k liye */
}
.nav-links li a {
    text-decoration: none;                   /* nav ke items ke under line ko remove krne k liye jaise home ke niche underline tha  */
    color: white;                              /* nav ke items ke color ko set krne k liye */
}
.nav-links li a:hover {
    color: rgb(108, 170, 220);                     /* nav ke items ke hover effect ke liye , mtlb jab hm uspar jaaye to link ka colour size n change ho ske */
    /* font-size: 17px;                              /* jab hm uspar jaaye to link ka size n change ho ske */
} */
.nav ul li {
    display: flex;
    list-style: none;                           /*list-style ko remove krne k liye jo bullets hote hain */
    justify-content: space-around;

}
.nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:25px ;
    list-style: none;
    padding-bottom: 20px;
}
 
main hr {                                        /* main ke under jo hr ka style set krne k liye i.e 1st horz line */
    border : 0 ;
    /* background : #9c97f1; */
    height : 1px ;
    margin : 40px 84px; 
}
      /*  lavkush portfolio's */
.left{ 
    font-size: clamp(1rem ,3vw , 2rem);
    padding: auto;
}
.firstsection {
     display: flex;
    justify-content: space-around;
    height: 23px 0;                                 /* first section ke height ko set krne k liye */
    /* margin : 80px 0;
    align-items: center;*/ 
}
.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 90%;
    height: auto;
    margin: auto;
    overflow: hidden;
}


/* LEFT SECTION */

.home > div {
    width: 35%;
}

.leftsection {
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;

    position: relative;
    /*z-index: 2;*/
}

/* for font style */
.cool-look {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 200;
  height:auto;
  letter-spacing: -1px;

}

/* LAVKUSH COLOR */


/* RIGHT SECTION */
#home {
    min-height: 100vh;
    padding-top: 200px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.rightsection {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.rightsection img {
    /* width: 100%;
    max-width: 600px; */
    max-width: 60%;
    height:auto ;
    margin-top: 40px;
}



/* BUTTONS */

.buttons {
    margin-top: 35px;
    display: flex;
    gap: 40px;
}

.buttons button {
    padding: 12px 25px;

    background: transparent;
    color: white;

    border: 1px solid cyan;
    border-radius: 25px;

    font-size: 16px;
    cursor: pointer;

    box-shadow: 0 0 8px cyan;

    transition: 0.3s;
}

.buttons button:hover {
    color:blue;
}


/* BACKGROUND GLOW */


.rightsection img{
    border: 1px solid cyan;
    border-radius: 40%;
    max-width: 100%;
    height: 300px;
}
.purple{
    color : rgb(217, 79, 217)
}
.graytext {
    color: #9c97f1;
}
#about {
    padding : 10px 20px ;
    text-align: center;
}
#about h2{
    font-size: 1.9rem;
    margin-bottom: 20px;
}
.about-intro{
    color : white ;
    margin-top: 30px;     /* about aur hobbies ke beech ka gap*/ 
    margin-bottom: 25px;
}
.hobbies-box{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;       /* hobbies dabbe me center kiya*/
    flex-wrap: wrap;
}
.hobbies{                            /*specific container*/
    width: 180px;
    padding:10px ;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
    /* box-shadow: 0 0 10px rgb(61, 61, 79);     glow of the boxes */
}
.hobbies h4{
    margin-bottom: 7px;
}
.hobbies p{
    color: rgb(181, 180, 180);
    font-size: 14px;
    line-height: 1;
}
#about p {
    max-width: 800px;
    margin: auto;
    /*text-align: center;*/
    line-height: 1.6;
}
.box{ 
    display: flex;                  /*hobbies box*/
    list-style: none;
    padding: 5%;
    margin: auto;
    width: 90%;
    max-width: 500px;
}
.box li {
    padding : 5%;     /* hobby items*/
}
.box li :hover {
    color: cyan;
}

 #projects{
    padding: 10px 20px;
    text-align: center;
 }
#projects h2{
    display: flex;
    justify-content: center;
}
#projects h2{
    font-size: 1.8rem;
    margin-bottom: 30px;       /* heading aur cards ke beech space*/
}
.project-container{                 /*saare project card ke container*/
    display: flex;
    justify-content: center;                    /* cards ko horz center me rkhega*/                       /*cards ki height ko properly adjust krega*/
    gap: 30px;                                      /*dabbo ke beech gap*/
    flex-wrap: wrap;                                /* space km hone pr nextline*/
}
.project-card{
   width: 180px;
   padding: 10px;
   border-radius: 12px;
    background: rgba(255, 255, 255, 0.03); 
} 
.project-card h3{
    margin-bottom: 8px;
    font-size:1rem;
    font-weight: 8px;
}
.project-card p{
    /* color : rgb(251, 244, 244) ;
    line-height: 1.2; */

}
    #contact h2{
        margin-bottom: 30px;   /*space below heading*/
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #contact form{
        max-width: 500px;      /* fom ki max width*/
        margin: auto;          /*form ko cemter me rkhega*/
        padding : 25px;         /*form ke andar space*/
        justify-content: center;
    }

    #contact input , 
    #contact textarea {
        width : 100%;                 /*ip width*/
        padding: 12px;                  /* b0x ke andar space*/
        margin-bottom: 15px;         /*neechge gsp*/
        border: 1px white solid;          /* box ke border ka color*/
        border-radius: 2px;
        background:transparent;
        color:white;                 /* text ka color*/;
        box-sizing: border-box;       /* box size ko proper rakhta hai*/
        font-size: 15px;
    }

    #contact textarea{          /* mesage box kim height*/
        height: 120px;
        resize: vertical;                   /* to resize vertical*/
        outline : none ;
    }

    #contact button  {
        padding: 10px 20px;
        color: black;
        font-weight: 800;
        border: 1px solid white;
        border-radius: 20px;       /*color of button*/
        color: rgb(12, 12, 12);
        cursor: pointer;                 /*hath wala pointer*/
        box-shadow:white;
        transition: 0.3s;                /* small hover */

        }
        #contact p{                 /*send message ko center me rkhega*/
            text-align: center;
        }

        /* button hover */
#contact button:hover {
            color: rgb(14, 14, 195);
        }
#skills{
    padding:10px 20px;     /* skill section ke andar space*/
    text-align:center;
    /* color: #ff4fd8; */
}
#skills h{
    font-size: 1.9rem;
    margin-bottom: 30px;   /* neeche space*/
}
.skill-intro{
    color : white ;
    margin-top: 30px;     /* my skill aur techno ke beech ka gap*/ 
    margin-bottom: 25px;
}
.skill-container{
    display: flex;
    gap: 30px;
    justify-content: center;       /* skill dabbe me center kiya*/
    flex-wrap: wrap;                /*screen chhoti hone pr next line*/

}
/* individual skill card */
.skill-card{
    width: 180px;
    padding: 10px;
    /* border:1px solid rgba(0, 255, 255, 0.4) ; */
    border-radius: 12px;
    background:rgba(255, 255, 255, 0.03) ;
    /* box-shadow: 0 0 blue;     glow of the boxes */
    /* transition: 0.3s; */
}

.skill-card img{
    width: 150px;
    margin-bottom: 10px;
}
.skill-card h3{
   
    margin-bottom: 6px;
}
.skill-card p{
    color: white;
    font-size: 15px;
    line-height: 1.5;          /* line spaciing*/
}

/* card hover effect */
.skill-card:hover{
    /* transform:translateY(-5px);                   jab arrow jaaye to thoda upar ho */
    /* box-shadow:  0 0 15px rgba(0, 255, 255, 0.4); */
}
.contact-info{
    margin-top: 25px;                /* space btw form and contact detail*/
    display: flex;
    gap: 20px;                        /* contact detail ke beech gap*/
    align-items: center;
    justify-content: center;
    padding : 10px 0px;  
    flex-wrap: wrap;                /* screen chhoti hone pr next line */
}

/* contact link */
.contact-info a {
    color:white;                   /* white color of link*/
    text-decoration: none;
    transition: 0.3s;
}
.contact-info a:hover{
    color: rgb(79, 79, 215);                /* hover effect of link*/
}

#footer{
    background-color: rgb(7, 7, 29);
    height: 50px;
    justify-content: center;
    text-align: center;
    justify-content: center;
    align-items: center ;
}
.foot{
    background-color: rgb(7, 7, 29);
    justify-content: center;
    text-align: center;
    align-items: center ;
    padding: 10px 0;
    flex-wrap: wrap;
    font-size: 0.7rem;
    color: rgb(231, 222, 222);
    
}